<stack-component 
    [stack]="currentStack"
    [single]="true"
    [canEdit]="currentUser"
    [canLike]="currentUser && currentUser.id !== currentStack.created_by.id"
    [canDelete]="currentUser"
    [canChangeStatus]="currentUser"
    (handleLike)="addStackLike()"
    (handleEdit)="toggleEditMode()"
    (handleDelete)="deleteStack()"
    (handleStatusChange)="changeStackStatus($event, currentStack.id)"
    *ngIf="!stackEditing"
></stack-component>

<stack-edit-form-component
    [stack]="currentStack"
    (handleSubmit)="updateStack($event)"
    (handleCancel)="toggleEditMode()"
    *ngIf="stackEditing"
></stack-edit-form-component>
