<stack-component 
    [stack]="currentStack"
    [stackNo]="0"
    [single]="true"
    [owned]="currentUser && (currentUser?.id === currentStack?.created_by.id)"
    (handleLike)="addLike($event)"
    (handleEdit)="toggleEditMode()"
    *ngIf="!stackEditing"
></stack-component>

<stack-edit-form-component
    [stack]="currentStack"
    (handleSubmit)="updateStack($event)"
    (handleCancel)="toggleEditMode()"
    *ngIf="stackEditing"
></stack-edit-form-component>


<h2>Comments</h2>

<template ngFor let-comment [ngForOf]="(comments$ | async)">
    <comment-item-component [comment]="comment"></comment-item-component>
</template>

<comment-form-component
    [stackId]="currentStack?.id"
    (handleSubmit)="addComment($event)"
></comment-form-component>