<div class="card comment-item" *ngIf="comment">
    <div class="card-block">
        <div class="card-text d-flex justify-content-between">
            <div>
                {{comment.body}}
                <button
                    class="btn btn-danger btn-sm"
                    [attr.disabled]="owned ? true : null"
                    (click)="like()">
                    <i class="fa fa-heart"></i>
                    <span class="badge badge-pill badge-danger">{{comment.star_count}}</span>
                </button>
            </div>
            <button 
                class="btn btn-outline-danger btn-sm"
                (click)="delete()"><i class="fa fa-times"></i></button>
        </div>
        <div class="card-text text-right">
            <small class="user-name">
                by <img src="{{comment.created_by.image}}" /> {{comment.created_by.nickname}}
            </small>
        </div>
    </div>
</div>
