<div class="card stack-item create-comment-form">
    <div class="card-header">
        Create New Comment
    </div>
    <form [formGroup]="commentForm" (ngSubmit)="submit($event)">
        <div class="card-block form-group">
            <input 
                class="form-control"
                type="text"
                [formControl]="commentForm.controls['body']"
                placeholder="(required)"
            />
        </div>
        <footer class="d-flex flex-row">
            <button type="submit" class="btn btn-warning col" [disabled]="!canSubmit()">+ comment</button>
        </footer>
    </form>
</div>
