<style>
    .tsurami-navigation-link {
        text-align: center;
    }
</style>
<section class="main">
  <div class="item-group tsurami-container">
    <tsurami-container-header
        (onOrderSelect)="handleOrder($event)"
        (onVisibilitySelect)="handleChangeVisibility($event)"
        [selectedOrder]="order$ | async"
        [selectedVisibility]="visibility$ | async"
    ></tsurami-container-header>
    <template ngFor let-tsurami [ngForOf]="(tsuramis$ | async)">
        <tsurami-item
            [tsurami]="tsurami"
            (onSorenaClick)="handleSorena($event)"
            (onToProgressClick)="handleStatusChange($event, 'in_progress')"
            (onToResolvedClick)="handleStatusChange($event, 'resolved')"
            (onToPendingClick)="handleStatusChange($event, 'pending')"
        ></tsurami-item>
    </template>
    <div class="tsurami-navigation-link">
        <a [routerLink]="previousPageLink" *ngIf="previousPageLink" id="previous-link">&lt;&lt;previous</a>
        <a [routerLink]="nextPageLink" *ngIf="nextPageLink" id="next-link">next&gt;&gt;</a>
    </div>
  </div>
</section>