<div class="card stack-item" *ngIf="stack">
    <div class="card-header d-flex flex-row justify-content-between">
        <div>#{{stack.id}}</div>
        <div>
            <button 
                class="btn btn-default btn-sm"
                (click)="edit($event)"
                *ngIf="single && owned">edit</button>
        </div>
    </div>
    <div class="card-block">
        <h4 class="card-title"><a href="/stacks/{{stack.id}}">{{stack.title}}</a></h4>
        <div class="card-text text-muted" *ngIf="stack.note != ''">
            <div *ngIf="!single">
                {{stack.note | slice:0:50}}
            </div>
            <div *ngIf="single">
                <markdown>{{stack.note}}</markdown>
            </div>
        </div>
        <div class="card-text text-right">
            <small class="user-name">
                by <img src="{{stack.created_by.image}}" /> {{stack.created_by.nickname}}
            </small>
        </div>
    </div>
    <footer class="d-flex flex-row">
        <a
            href="/stacks/{{stack.id}}"
            class="btn btn-success col">
            <span class="badge badge-pill badge-success">{{stack.comment_count}}</span> Comments</a>
        <button
            class="btn btn-primary col"
            (click)="like($event)"
            [attr.disabled]="owned ? true : null">
            <span class="badge badge-pill badge-primary">{{stack.star_count}}</span> Likes
        </button>
    </footer>
</div>
