<div class="card stack-item stack-item-edit" *ngIf="stack">
    <form [formGroup]="stackForm" (ngSubmit)="submit($event)">
        <div
            class="card-header d-flex flex-row justify-content-between"
        >
            editing
        </div>
        <div class="card-block">
            <input 
                class="form-control col"
                type="text"
                [formControl]="stackForm.controls['title']"
                placeholder="(required)"
            />
            <textarea
                class="col"
                placeholder="(optional)"
                [formControl]="stackForm.controls['note']"
            >{{stack.note}}</textarea>
            <div class="card-text text-right">
                <small class="user-name">
                    by <img src="{{stack.created_by.image}}" /> {{stack.created_by.nickname}}
                </small>
            </div>
        </div>
        <footer class="d-flex flex-row">
            <button class="btn btn-outline-danger col" (click)="cancel($event)">Cancel</button>
            <button type="submit" class="btn btn-danger col" [disabled]="!canSubmit()">Update</button>
        </footer>
    </form>
</div>
