<div class="card stack-item" *ngIf="stack">

    <div
        class="card-header d-flex flex-row justify-content-between"
    >
        <div *ngIf="!single">#{{stackNo}}</div>
        <div *ngIf="single"></div>
        <stack-menu-component
            [status]="stack.status"
            [enabled]="canEdit || canChangeStatus || canDelete"
            [canEdit]="canEdit"
            [canChangeStatus]="canChangeStatus"
            [canDelete]="canDelete"
            (handleChange)="statusChange($event)"
            (handleDelete)="delete()"
            (handleEdit)="edit()"
        ></stack-menu-component>

    </div>
    <div class="card-block">
        <h4 class="card-title"><a href="/stacks/{{stack.id}}">{{stack.title}}</a></h4>
        <div class="card-text text-muted" *ngIf="stack.note != ''">
            <div *ngIf="!single">
                {{stack.note | slice:0:50}}
            </div>
            <div *ngIf="single">
                <markdown>{{stack.note}}</markdown>
            </div>
        </div>
        <div class="card-text text-right">
            <small class="user-name">
                by <img src="{{stack.created_by.image}}" /> {{stack.created_by.nickname}}
            </small>
        </div>
    </div>
    <footer class="d-flex flex-row">
        <a
            href="/stacks/{{stack.id}}"
            class="btn btn-success col">
            <i class="fa fa-commenting"></i>
            <span class="badge badge-pill badge-success">{{stack.comment_count}}</span></a>
        <button
            class="btn btn-danger col"
            (click)="toggleLike()"
            [disabled]="!canLike">
            <i class="fa fa-heart" *ngIf="stack.liked"></i>
            <i class="fa fa-heart-o" *ngIf="!stack.liked"></i>
            <span class="badge badge-pill badge-danger">{{stack.like_count}}</span>
        </button>
    </footer>
</div>
