<!-- pending -->
<div ngbDropdown class="btn-group" *ngIf="status == 'pending'">
    <button class="btn btn-sm btn-success dropdown-toggle" ngbDropdownToggle>pending</button>
    <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" (click)="edit()" *ngIf="canEdit">edit</button>
        <button class="dropdown-item" (click)="changeStatus('in_progress')">marked in progress</button>
        <button class="dropdown-item" (click)="changeStatus('resolved')">marked to resolved</button>
        <li class="divider dropdown-divider"></li>
        <button class="dropdown-item text-danger" (click)="delete()">delete stack</button>
    </div>
</div>

<!-- in_progress -->
<div ngbDropdown class="btn-group" *ngIf="status == 'in_progress'">
    <button class="btn btn-sm btn-primary dropdown-toggle" ngbDropdownToggle>in progress</button>
    <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" (click)="changeStatus('resolved')">marked to resolved</button>
        <li class="divider dropdown-divider"></li>
        <button class="dropdown-item" (click)="changeStatus('pending')">marked to pending</button>
        <button class="dropdown-item text-danger" (click)="delete()">delete stack</button>
    </div>
</div>

<!-- resolved -->
<div ngbDropdown class="btn-group" *ngIf="status == 'resolved'">
    <button class="btn btn-sm btn-default dropdown-toggle" ngbDropdownToggle>resolved</button>
    <div class="dropdown-menu dropdown-menu-right">
        <button class="dropdown-item" (click)="changeStatus('in_progress')">marked in progress</button>
        <button class="dropdown-item" (click)="changeStatus('pending')">marked to pending</button>
        <li class="divider dropdown-divider"></li>
        <button class="dropdown-item text-danger" (click)="delete()">delete stack</button>
    </div>
</div>