<div class="card stack-item create-item-form">
    <div class="card-header d-flex justify-content-between">
        <span>Create New Stack</span>
        <button class="btn btn-sm" (click)="expand()"><i class="fa fa-expand"></i></button>
    </div>
    <form [formGroup]="stackForm" (ngSubmit)="submit($event)">
        <div class="card-block">
            <div class="form-group">
                <label for="stack-form-title">Title</label>
                <input 
                    class="form-control"
                    type="text"
                    id="stack-form-title"
                    [formControl]="stackForm.controls['title']"
                    placeholder="(required)"
                />
            </div>
            <div class="form-group">
                <label for="stack-form-note">Note</label>
                <textarea
                    class="form-control"
                    [class.expanded]="expanded"
                    id="stack-form-note"
                    placeholder="(optional)"
                    [formControl]="stackForm.controls['note']"
                    >
                </textarea>
            </div>
        </div>
        <footer>
            <button type="submit" class="btn btn-warning col" [disabled]="!canSubmit()">+ stack</button>
        </footer>
    </form>
</div>