<style>
    .tsurami-item {
        padding: 10px;
        border: 0px;
        border-top: 1px gray dotted;
        border-bottom: 1px gray dotted;
        margin-top: 4px;
        margin-bottom: 4px;
    }
    .tsurami-heading {
        clear: both;
    }
    .tsurami-status {
        float: right;
    }
    .tsurami-title {
        float: left;
    }
    .tsurami-footer {
    }
    .tsurami-created-at {
        font-size: 0.8em;
        color: gray;
    }
</style>
<div class="list-group-item tsurami-item">
    <div class="tsurami-heading">
        <h4 class="list-group-item-heading tsurami-title">
            {{tsurami.title}}
        </h4>
        <div class="tsurami-status">
            <span *ngIf="tsurami.status == 'pending'" class="label label-warning">保留中</span>
            <span *ngIf="tsurami.status == 'in_progress'" class="label label-primary">進行中</span>
            <span *ngIf="tsurami.status == 'resolved'" class="label label-success">解決済み</span>
        </div>
    </div>

    <div class="tsurami-footer" style="text-align:right;clear:both;">
        <p class="tsurami-created-at">{{tsurami.createdAt | date: 'yyyy/MM/dd'}}</p>
        <button
            class="btn btn-info btn-xs sorena-button"
            [disabled]="tsurami.status === 'resolved'"
            (click)="handleSorenaClick()">
            <span class="badge">{{tsurami.sorena}}</span> それな
            <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
        <button
            *ngIf="tsurami.status === 'pending'"
            (click)="handleToProgressClick()"
            class="btn btn-sm btn-primary status-change">進行中にする</button>
        <button
            *ngIf="tsurami.status !== 'resolved'"
            (click)="handleToResolvedClick()"
            class="btn btn-sm btn-success status-change">解決済みにする</button>
        <button
            *ngIf="tsurami.status === 'resolved'"
            (click)="handleToPendingClick()"
            class="btn btn-sm status-change">保留中に戻す</button>
        <!--<button class="btn btn-danger btn-sm backlog-button">
            backlogに起票
            <span class="glyphicon glyphicon-plus"></span>
        </button>-->
    </div>
</div>