<div class="tsurami-container-header">
    <div class="tsurami-sort dropdown" dropdown>
        <a href dropdownToggle (click)="false">
            ▼並び順を変える - {{orderTitles[selectedOrder]}}
        </a>
        <ul *dropdownMenu class="dropdown-menu order" role="menu">
            <template ngFor let-o [ngForOf]="orderTypes">
            <li key="o" role="menuitem">
                <a [ngClass]="{'selected': o === selectedOrder}"
                    class="dropdown-item"
                    (click)="handleOrderSelect(o)">{{orderTitles[o]}}</a>
            </li>
            </template>
        </ul>
    </div>
    <div class="tsurami-sort dropdown" dropdown>
        <a href dropdownToggle (click)="false">
            ▼フィルターする - {{visibilityTitles[selectedVisibility]}}
        </a>
        <ul *dropdownMenu class="dropdown-menu visibility" role="menu">
            <template ngFor let-v [ngForOf]="visibilityTypes">
            <li key="v" role="menuitem">
                <a [ngClass]="{'selected': v === selectedVisibility}"
                    class="dropdown-item"
                    (click)="handleVisibilitySelect(v)">{{visibilityTitles[v]}}</a>
            </li>
            </template>
        </ul>
    </div>
</div>